/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */

body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgb(203, 196, 136) 0%, rgb(60, 0, 0) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}


/* Typeography General*/

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}


/* ---- Layout Rules ---- */

main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */


/* Navigation Styles*/

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2em;
    gap: 3em;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu ul:hover {
    background-color: rgb(220, 220, 220);
    transition: ease 0.2s all;
}

.navbar__menu ul .menu__link:hover {
    background: #3e3803c8;
    color: whitesmoke;
    transition: ease 0.2s all;
}

.active {
    background: #3e3803c8;
    color: whitesmoke !important;
}

@media only screen and (max-width: 690px) {
    .navbar__menu ul {
        font-size: 0.8em;
        flex-direction: row;
        gap: 0;
    }
}

@media only screen and (max-width: 320px) {
    .navbar__menu ul {
        font-size: 0.7em;
    }
}


/* Header Styles */

.page__header {
    background: rgb(216, 216, 216);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Footer Styles */

.page__footer {
    background: rgb(42, 59, 51) 0%;
    padding: 2em;
    text-align: center;
    background-image: url("../rawpixel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page__footer p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.769);
    width: fit-content;
    padding: 0.5em;
    margin: 0 auto;
    border-radius: 5px;
}

.page__footer a {
    color: rgb(255, 255, 255);
}


/* ---- Theme Rules ---- */


/* Landing Container Styles */

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 690px) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}


/* Background Circles */


/* Note that background circles are created with psuedo elements before and after */


/* Circles appear to be random do to use of :nth-of-type psuedo class */

section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.046) 0%, rgba(255, 183, 0, 0.791) 100%);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, #8a9b0f 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, .1) 0%, #bd1550 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n+1) .landing__container::after {
    content: '';
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, #bd1550 0%, rgba(164, 14, 14, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */


/* Section Active Styles */


/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */

section.your-active-class {
    /* glow */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.452);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


/* Section Active Styles Keyframe Animations */

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-3em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-3em) rotate(-360deg);
    }
}


/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    width: 100px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #ccc;
    color: darkslategray;
    border: 1px solid #333;
}

form input[type="submit"]:active {
    background-color: #d9d9d9;
}